<html>
	<head>
		<title> Home </title>
	</head>
	<body>
		<h1>
			Sport-Men		
		</h1>
		<form method="POST" action="">
			<input id="loginUsername" type="text" placeholder="Login"/>
			
			<input id="loginPassword" type="password" placeholder="Password"/>
			
			<input type="submit" name="loginSubmit" value="Sign In"/>
		</form>
		<form method="POST" action="">
			<input id="registerUsername" type="text" placeholder="Username"/>
			
			<input id="registerPassword" type="password" placeholder="Password"/>
			
			<input id="registerSport" type="text" placeholder="Sport"/>
			
			<input type="submit" name="registerSubmit" value="Sign Up"/>
		</form>
	</body>
</html>